<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.WordCFExam">
    <!--  -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <application
        android:name=".CFExamApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TextToSpeechActivity"></activity>
        <activity android:name=".activity.configureActivity.ConfigPreferenceActivity" />

        <service
            android:name=".background.ManualStartCFExamService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".background.AutoStartCFExamBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

            </intent-filter>
        </receiver>
        <receiver
            android:name=".background.CFExamAlarm"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>

        <activity android:name=".background.NotificationActivity" />
        <activity android:name=".activity.configureActivity.ConfigDBImportExport" />
        <activity android:name=".activity.exam.CFExamWordProceedQuestionActivity" />
        <activity android:name=".activity.exam.CFExamWordQuestionnaireNeedProceedActivity" />
        <activity
            android:name=".activity.configureActivity.ConfigLanguageWordForm"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.configureActivity.ConfigCFExamScheduleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.configureActivity.ConfigLanguagePartOfSpeech"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.configureActivity.ConfigCFExamProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.exam.ExamMenuActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.configureActivity.ConfigCFExamProfilePointActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.wordActivity.UpdateWordTranslationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.wordActivity.ListWordEditableActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.wordActivity.ListWordListableActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.configureActivity.ConfigTopicTypeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ChangeSelectedProfile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.configureActivity.ConfigTranslationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.configureActivity.ConfigProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.configureActivity.ConfigLanguageActivity"
            android:windowSoftInputMode="adjustPan" /> <!--  -->
        <activity
            android:name=".activity.configureActivity.ConfigureMenuActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.exam.RandomExamHelpSentenceProceedQuestionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.exam.RandomExamHelpSentenceQuestionnaireNeedProceedActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.wordActivity.UpdateWordMenuActivity" />
        <activity
            android:name=".activity.wordActivity.ShowForeignWordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.wordActivity.ShowNativeWordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.wordActivity.ListAllDictionary" />
        <activity
            android:name=".activity.wordActivity.UpdateWordBasicActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.wordActivity.UpdateWordHelpSentenceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.wordActivity.ListAllWordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.wordActivity.NewWordActivity" />
        <activity
            android:name=".activity.exam.RandomExamWordProceedQuestionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.exam.RandomExamWordQuestionnaireNeedProceedActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.exam.CFExamTopicProceedQuestionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.exam.CFExamTopicQuestionnaireNeedProceedActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.topic.TopicListableActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.topic.TopicFacedListableActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
        android:name=".activity.topic.TopicEditableActivity"
        android:windowSoftInputMode="adjustPan" /> <!--  -->
        <activity
            android:name=".activity.topic.TopicFacedEditableActivity"
            android:windowSoftInputMode="adjustPan" /> <!--  -->

        <activity
            android:name=".activity.topic.TopicTypeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>